  /*Selector {
  	Property: value;
  }*/
*{
	text-align: right;
}


body {
	background-image: url("https://pixabay.com/photos/water-sea-caribbean-background-1330252/");
}

  p {
  	color:#AA4139;
  	text-align: center;
  	border: 5px solid RGB(255,176,170, 0.5);
  	cursor:pointer;
  }

  img 
  {
  	 float: left;
  }

 p {
 	color:pink;
 }

 p {
 	color: green;
 }

p
	{
		line-height: 25px;
		font-style: italic;
		font-size: 75%;
	}

 li {
 	list-style: none;
 	display: inline-block;
 }

.webtext {
	border: 5px dashed green;
}

.active {
	color: red;
}

#div1 {
	background-color: rgba(0,0,255,0.2)
}